
.container{
    width: 950px;
    padding: 20px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 15px;
}
.side-nav {
    height: 300px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    background-color: blue;
}
.main {
    display: inline-block;
    height: 400px;
    margin-left: 15px;
    vertical-align: top;
    width: 700px;
    padding: 15px;
    background-color: red;
}
.sub-content {
    height: 200px;
    width: 210px;
    margin:5px;
    display: inline-block ;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    padding: 3px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 3px;
    width: 658px;
    background-color: purple
}